<!--Header-->
<header>
	<div class="overlay">
    <img src="assets/logowhite.png" alt="this is img" width="100px" style="padding-top: 50px; margin-bottom: -30px;">
    <h1>Connectre</h1>
    <p>To be the leading organization for providing and promoting quality education by
      spreading awareness and identifying significant contemporary concerns and be the
      peaking educational asset for the coming generations.</p>
  </div>
</header>
<!--Content-->
<content>
  <div class="content">

  </div>
</content>
<!--Footer-->
<footer class="footer">
  <p>This is the footer</p>
</footer>
