/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body, html {
  width: 100%;
  margin: 0;
}

body {
  font-family: 'Bebas Neue', cursive;
}
