<!--Top Nav-->
<app-topnav></app-topnav>

<!--Header-->
<header>
	<div class="overlay">
    <img src="assets/logowhite.png" alt="this is img" width="100px" style="padding-top: 50px; margin-bottom: -30px;">
    <h1><i>We are Connectre</i></h1>
    <p>To be the leading organization for providing and promoting quality education by
      spreading awareness and identifying significant contemporary concerns and be the
      peaking educational asset for the coming generations.</p>
  </div>
</header>

<!--Content-->
<content class="content">
  <div class="row content-1 pt-5">
    <div class="col-md-6 col-sd-12">
      <img src="assets\gaps.png" width="450px" style="float: right;">
    </div>
    <div class="col-md-6 col-sd-12">
      <h2>
        Filling the Gaps in Education
      </h2>
      <p>
        A learning difference is the gap between what a student learns (i.e., student achievements) and what the student was anticipated to understand at a specific time in his or her schooling, such as a specific age or grade level.
      </p>
    </div>
  </div>
  <div class="row content-2 pt-5">
    <div class="col-md-6 col-sd-12">
      <h2 style="text-align: right;">
        PH is ranks lowest in reading comprehension from a study back in 2018
      </h2>
      <p style="text-align: right;">
        Philippines lowest in reading comprehension among 79 countries. Among 79 participating countries, the Philippines scored the lowest in reading comprehension in the 2018 Programme for International Student Assessment (PISA), according to the results released Dec. 3, 2019      </p>
    </div>
    <div class="col-md-6 col-sd-12">
      <img src="assets\reading.jpg" width="450px" style="float: left;">
    </div>
  </div>

  <div class="row content-3 pt-5 pb-5">
    <div class="col-md-12 col-sd-12">
      <h2>LISTEN TO OUR PODCAST!</h2>
    </div>
    <div class="col-md-12 col-sd-12 m-auto">
      <img src="assets\connect.png" width="450px">
    </div>
    <div class="col-md-12 col-sd-12 m-auto">
      <iframe style="border-radius:12px" class="pt-5" src="https://open.spotify.com/embed/episode/17Fg1WJeHqdUOq2hPkMV3E?utm_source=generator&theme=0" width="50%" height="232" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </div>
  </div>
</content>

<!--Footer-->
<app-footer></app-footer>